*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#countLabel{
    font-size: 1.5em;
    text-align: center;
	background-color: black;
    color: white;
}